<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.spenler.peter.classmanager">

    <application
        android:icon="@drawable/cm_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:allowBackup="true"
        android:fullBackupContent="true">
        <activity
            android:name=".activities.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.CourseViewActivity"/>
        <activity android:name=".dialogs.AssignmentViewDialog" android:theme="@android:style/Theme.Material.Dialog.NoActionBar" android:excludeFromRecents="true"/>
    </application>

</manifest>